.cage_1_1 {
	position: absolute;
	left: 20%;
	top: 10%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_1_2 {
	position: absolute;
	left: 25%;
	top: 10%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_1_3 {
	position: absolute;
	left: 30%;
	top: 10%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_1_4 {
	position: absolute;
	left: 35%;
	top: 10%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_1_5 {
	position: absolute;
	left: 40%;
	top: 10%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_1_6 {
	position: absolute;
	left: 45%;
	top: 10%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_1_7 {
	position: absolute;
	left: 50%;
	top: 10%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_1_8 {
	position: absolute;
	left: 55%;
	top: 10%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_1_9 {
	position: absolute;
	left: 60%;
	top: 10%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_1_10 {
	position: absolute;
	left: 65%;
	top: 10%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_1_11 {
	position: absolute;
	left: 70%;
	top: 10%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_1_12 {
	position: absolute;
	left: 75%;
	top: 10%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_2_1 {
	position: absolute;
	left: 20%;
	top: 30%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_2_2 {
	position: absolute;
	left: 25%;
	top: 30%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_2_3 {
	position: absolute;
	left: 30%;
	top: 30%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_2_4 {
	position: absolute;
	left: 35%;
	top: 30%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_2_5 {
	position: absolute;
	left: 40%;
	top: 30%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_2_6 {
	position: absolute;
	left: 45%;
	top: 30%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_2_7 {
	position: absolute;
	left: 50%;
	top: 30%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_2_8 {
	position: absolute;
	left: 55%;
	top: 30%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_2_9 {
	position: absolute;
	left: 60%;
	top: 30%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_2_10 {
	position: absolute;
	left: 65%;
	top: 30%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_2_11 {
	position: absolute;
	left: 70%;
	top: 30%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_2_12 {
	position: absolute;
	left: 75%;
	top: 30%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_3_1 {
	position: absolute;
	left: 20%;
	top: 50%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_3_2 {
	position: absolute;
	left: 25%;
	top: 50%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_3_3 {
	position: absolute;
	left: 30%;
	top: 50%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_3_4 {
	position: absolute;
	left: 35%;
	top: 50%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_3_5 {
	position: absolute;
	left: 40%;
	top: 50%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_3_6 {
	position: absolute;
	left: 45%;
	top: 50%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_3_7 {
	position: absolute;
	left: 50%;
	top: 50%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_3_8 {
	position: absolute;
	left: 55%;
	top: 50%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_3_9 {
	position: absolute;
	left: 60%;
	top: 50%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_3_10 {
	position: absolute;
	left: 65%;
	top: 50%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_3_11 {
	position: absolute;
	left: 70%;
	top: 50%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_3_12 {
	position: absolute;
	left: 75%;
	top: 50%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_4_1 {
	position: absolute;
	left: 20%;
	top: 70%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_4_2 {
	position: absolute;
	left: 25%;
	top: 70%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_4_3 {
	position: absolute;
	left: 30%;
	top: 70%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_4_4 {
	position: absolute;
	left: 35%;
	top: 70%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_4_5 {
	position: absolute;
	left: 40%;
	top: 70%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_4_6 {
	position: absolute;
	left: 45%;
	top: 70%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_4_7 {
	position: absolute;
	left: 50%;
	top: 70%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_4_8 {
	position: absolute;
	left: 55%;
	top: 70%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_4_9 {
	position: absolute;
	left: 60%;
	top: 70%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_4_10 {
	position: absolute;
	left: 65%;
	top: 70%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_4_11 {
	position: absolute;
	left: 70%;
	top: 70%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_4_12 {
	position: absolute;
	left: 75%;
	top: 70%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_5_1 {
	position: absolute;
	left: 20%;
	top: 90%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_5_2 {
	position: absolute;
	left: 25%;
	top: 90%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_5_3 {
	position: absolute;
	left: 30%;
	top: 90%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_5_4 {
	position: absolute;
	left: 35%;
	top: 90%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_5_5 {
	position: absolute;
	left: 40%;
	top: 90%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_5_6 {
	position: absolute;
	left: 45%;
	top: 90%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_5_7 {
	position: absolute;
	left: 50%;
	top: 90%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_5_8 {
	position: absolute;
	left: 55%;
	top: 90%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_5_9 {
	position: absolute;
	left: 60%;
	top: 90%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_5_10 {
	position: absolute;
	left: 65%;
	top: 90%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_5_11 {
	position: absolute;
	left: 70%;
	top: 90%;
	min-width: 85.33px;
	box-sizing: border-box;
}
.cage_5_12 {
	position: absolute;
	left: 75%;
	top: 90%;
	min-width: 85.33px;
	box-sizing: border-box;
}
@media screen and (max-width: 1680px) {
	.cage_1_1 {
		left: 0.1%;
		min-width: 8.33%;
	}
	.cage_1_2 {
		left: 8.33%;
		min-width: 8.33%;
	}
	.cage_1_3 {
		left: 16.66%;
		min-width: 8.33%;
	}
	.cage_1_4 {
		left: 24.99%;
		min-width: 8.33%;
	}
	.cage_1_5 {
		left: 33.32%;
		min-width: 8.33%;
	}
	.cage_1_6 {
		left: 41.65%;
		min-width: 8.33%;
	}
	.cage_1_7 {
		left: 49.98%;
		min-width: 8.33%;
	}
	.cage_1_8 {
		left: 58.31%;
		min-width: 8.33%;
	}
	.cage_1_9 {
		left: 66.64%;
		min-width: 8.33%;
	}
	.cage_1_10 {
		left: 74.97%;
		min-width: 8.33%;
	}
	.cage_1_11 {
		left: 83.3%;
		min-width: 8.33%;
	}
	.cage_1_12 {
		left: 91.63%;
		min-width: 8.33%;
	}
	.cage_2_1 {
		top: 30%;
		left: 0.1%;
		min-width: 8.33%;
	}
	.cage_2_2 {
		top: 30%;
		left: 8.33%;
		min-width: 8.33%;
	}
	.cage_2_3 {
		top: 30%;
		left: 16.66%;
		min-width: 8.33%;
	}
	.cage_2_4 {
		top: 30%;
		left: 24.99%;
		min-width: 8.33%;
	}
	.cage_2_5 {
		top: 30%;
		left: 33.32%;
		min-width: 8.33%;
	}
	.cage_2_6 {
		top: 30%;
		left: 41.65%;
		min-width: 8.33%;
	}
	.cage_2_7 {
		top: 30%;
		left: 49.98%;
		min-width: 8.33%;
	}
	.cage_2_8 {
		top: 30%;
		left: 58.31%;
		min-width: 8.33%;
	}
	.cage_2_9 {
		top: 30%;
		left: 66.64%;
		min-width: 8.33%;
	}
	.cage_2_10 {
		top: 30%;
		left: 74.97%;
		min-width: 8.33%;
	}
	.cage_2_11 {
		top: 30%;
		left: 83.3%;
		min-width: 8.33%;
	}
	.cage_2_12 {
		top: 30%;
		left: 91.63%;
		min-width: 8.33%;
	}
	.cage_3_1 {
		top: 50%;
		left: 0.1%;
		min-width: 8.33%;
	}
	.cage_3_2 {
		top: 50%;
		left: 8.33%;
		min-width: 8.33%;
	}
	.cage_3_3 {
		top: 50%;
		left: 16.66%;
		min-width: 8.33%;
	}
	.cage_3_4 {
		top: 50%;
		left: 24.99%;
		min-width: 8.33%;
	}
	.cage_3_5 {
		top: 50%;
		left: 33.32%;
		min-width: 8.33%;
	}
	.cage_3_6 {
		top: 50%;
		left: 41.65%;
		min-width: 8.33%;
	}
	.cage_3_7 {
		top: 50%;
		left: 49.98%;
		min-width: 8.33%;
	}
	.cage_3_8 {
		top: 50%;
		left: 58.31%;
		min-width: 8.33%;
	}
	.cage_3_9 {
		top: 50%;
		left: 66.64%;
		min-width: 8.33%;
	}
	.cage_3_10 {
		top: 50%;
		left: 74.97%;
		min-width: 8.33%;
	}
	.cage_3_11 {
		top: 50%;
		left: 83.3%;
		min-width: 8.33%;
	}
	.cage_3_12 {
		top: 50%;
		left: 91.63%;
		min-width: 8.33%;
	}
	.cage_4_1 {
		top: 70%;
		left: 0.1%;
		min-width: 8.33%;
	}
	.cage_4_2 {
		top: 70%;
		left: 8.33%;
		min-width: 8.33%;
	}
	.cage_4_3 {
		top: 70%;
		left: 16.66%;
		min-width: 8.33%;
	}
	.cage_4_4 {
		top: 70%;
		left: 24.99%;
		min-width: 8.33%;
	}
	.cage_4_5 {
		top: 70%;
		left: 33.32%;
		min-width: 8.33%;
	}
	.cage_4_6 {
		top: 70%;
		left: 41.65%;
		min-width: 8.33%;
	}
	.cage_4_7 {
		top: 70%;
		left: 49.98%;
		min-width: 8.33%;
	}
	.cage_4_8 {
		top: 70%;
		left: 58.31%;
		min-width: 8.33%;
	}
	.cage_4_9 {
		top: 70%;
		left: 66.64%;
		min-width: 8.33%;
	}
	.cage_4_10 {
		top: 70%;
		left: 74.97%;
		min-width: 8.33%;
	}
	.cage_4_11 {
		top: 70%;
		left: 83.3%;
		min-width: 8.33%;
	}
	.cage_4_12 {
		top: 70%;
		left: 91.63%;
		min-width: 8.33%;
	}
	.cage_5_1 {
		top: 90%;
		left: 0.1%;
		min-width: 8.33%;
	}
	.cage_5_2 {
		top: 90%;
		left: 8.33%;
		min-width: 8.33%;
	}
	.cage_5_3 {
		top: 90%;
		left: 16.66%;
		min-width: 8.33%;
	}
	.cage_5_4 {
		top: 90%;
		left: 24.99%;
		min-width: 8.33%;
	}
	.cage_5_5 {
		top: 90%;
		left: 33.32%;
		min-width: 8.33%;
	}
	.cage_5_6 {
		top: 90%;
		left: 41.65%;
		min-width: 8.33%;
	}
	.cage_5_7 {
		top: 90%;
		left: 49.98%;
		min-width: 8.33%;
	}
	.cage_5_8 {
		top: 90%;
		left: 58.31%;
		min-width: 8.33%;
	}
	.cage_5_9 {
		top: 90%;
		left: 66.64%;
		min-width: 8.33%;
	}
	.cage_5_10 {
		top: 90%;
		left: 74.97%;
		min-width: 8.33%;
	}
	.cage_5_11 {
		top: 90%;
		left: 83.3%;
		min-width: 8.33%;
	}
	.cage_5_12 {
		top: 90%;
		left: 91.63%;
		min-width: 8.33%;
	}
}
@media screen and (max-width: 1025px) {
	.cage_1_1 {
		left: 0%;
		min-width: 16.66%;
	}
	.cage_1_2 {
		left: 16.66%;
		min-width: 16.66%;
	}
	.cage_1_3 {
		left: 33.33%;
		min-width: 16.66%;
	}
	.cage_1_4 {
		left: 49.99%;
		min-width: 16.66%;
	}
	.cage_1_5 {
		left: 66.65%;
		min-width: 16.66%;
	}
	.cage_1_6 {
		left: 83.31%;
		min-width: 16.66%;
	}
	.cage_1_7 {
		top: 30%;
		left: 0%;
		min-width: 16.66%;
	}
	.cage_1_8 {
		top: 30%;
		left: 16.66%;
		min-width: 16.66%;
	}
	.cage_1_9 {
		top: 30%;
		left: 33.33%;
		min-width: 16.66%;
	}
	.cage_1_10 {
		top: 30%;
		left: 49.99%;
		min-width: 16.66%;
	}
	.cage_1_11 {
		top: 30%;
		left: 66.65%;
		min-width: 16.66%;
	}
	.cage_1_12 {
		top: 30%;
		left: 83.31%;
		min-width: 16.66%;
	}
	.cage_2_1 {
		top: 50%;
		left: 0%;
		min-width: 16.66%;
	}
	.cage_2_2 {
		top: 50%;
		left: 16.66%;
		min-width: 16.66%;
	}
	.cage_2_3 {
		top: 50%;
		left: 33.33%;
		min-width: 16.66%;
	}
	.cage_2_4 {
		top: 50%;
		left: 49.99%;
		min-width: 16.66%;
	}
	.cage_2_5 {
		top: 50%;
		left: 66.65%;
		min-width: 16.66%;
	}
	.cage_2_6 {
		top: 50%;
		left: 83.31%;
		min-width: 16.66%;
	}
	.cage_2_7 {
		top: 70%;
		left: 0%;
		min-width: 16.66%;
	}
	.cage_2_8 {
		top: 70%;
		left: 16.66%;
		min-width: 16.66%;
	}
	.cage_2_9 {
		top: 70%;
		left: 33.33%;
		min-width: 16.66%;
	}
	.cage_2_10 {
		top: 70%;
		left: 49.99%;
		min-width: 16.66%;
	}
	.cage_2_11 {
		top: 70%;
		left: 66.65%;
		min-width: 16.66%;
	}
	.cage_2_12 {
		top: 70%;
		left: 83.31%;
		min-width: 16.66%;
	}
	.cage_3_1 {
		top: 90%;
		left: 0%;
		min-width: 16.66%;
	}
	.cage_3_2 {
		top: 90%;
		left: 16.66%;
		min-width: 16.66%;
	}
	.cage_3_3 {
		top: 90%;
		left: 33.33%;
		min-width: 16.66%;
	}
	.cage_3_4 {
		top: 90%;
		left: 49.99%;
		min-width: 16.66%;
	}
	.cage_3_5 {
		top: 90%;
		left: 66.65%;
		min-width: 16.66%;
	}
	.cage_3_6 {
		top: 90%;
		left: 83.31%;
		min-width: 16.66%;
	}
	.cage_3_7 {
		top: 110%;
		left: 0%;
		min-width: 16.66%;
	}
	.cage_3_8 {
		top: 110%;
		left: 16.66%;
		min-width: 16.66%;
	}
	.cage_3_9 {
		top: 110%;
		left: 33.33%;
		min-width: 16.66%;
	}
	.cage_3_10 {
		top: 110%;
		left: 49.99%;
		min-width: 16.66%;
	}
	.cage_3_11 {
		top: 110%;
		left: 66.65%;
		min-width: 16.66%;
	}
	.cage_3_12 {
		top: 110%;
		left: 83.31%;
		min-width: 16.66%;
	}
	.cage_4_1 {
		top: 130%;
		left: 0%;
		min-width: 16.66%;
	}
	.cage_4_2 {
		top: 130%;
		left: 16.66%;
		min-width: 16.66%;
	}
	.cage_4_3 {
		top: 130%;
		left: 33.33%;
		min-width: 16.66%;
	}
	.cage_4_4 {
		top: 130%;
		left: 49.99%;
		min-width: 16.66%;
	}
	.cage_4_5 {
		top: 130%;
		left: 66.65%;
		min-width: 16.66%;
	}
	.cage_4_6 {
		top: 130%;
		left: 83.31%;
		min-width: 16.66%;
	}
	.cage_4_7 {
		top: 150%;
		left: 0%;
		min-width: 16.66%;
	}
	.cage_4_8 {
		top: 150%;
		left: 16.66%;
		min-width: 16.66%;
	}
	.cage_4_9 {
		top: 150%;
		left: 33.33%;
		min-width: 16.66%;
	}
	.cage_4_10 {
		top: 150%;
		left: 49.99%;
		min-width: 16.66%;
	}
	.cage_4_11 {
		top: 150%;
		left: 66.65%;
		min-width: 16.66%;
	}
	.cage_4_12 {
		top: 150%;
		left: 83.31%;
		min-width: 16.66%;
	}
	.cage_5_1 {
		top: 170%;
		left: 0%;
		min-width: 16.66%;
	}
	.cage_5_2 {
		top: 170%;
		left: 16.66%;
		min-width: 16.66%;
	}
	.cage_5_3 {
		top: 170%;
		left: 33.33%;
		min-width: 16.66%;
	}
	.cage_5_4 {
		top: 170%;
		left: 49.99%;
		min-width: 16.66%;
	}
	.cage_5_5 {
		top: 170%;
		left: 66.65%;
		min-width: 16.66%;
	}
	.cage_5_6 {
		top: 170%;
		left: 83.31%;
		min-width: 16.66%;
	}
	.cage_5_7 {
		top: 190%;
		left: 0%;
		min-width: 16.66%;
	}
	.cage_5_8 {
		top: 190%;
		left: 16.66%;
		min-width: 16.66%;
	}
	.cage_5_9 {
		top: 190%;
		left: 33.33%;
		min-width: 16.66%;
	}
	.cage_5_10 {
		top: 190%;
		left: 49.99%;
		min-width: 16.66%;
	}
	.cage_5_11 {
		top: 190%;
		left: 66.65%;
		min-width: 16.66%;
	}
	.cage_5_12 {
		top: 190%;
		left: 83.31%;
		min-width: 16.66%;
	}
}
@media screen and (max-width: 761px) {
	.cage_1_1 {
		left: 0%;
		min-width: 50%;
	}
	.cage_1_2 {
		left: 50%;
		min-width: 50%;
	}
	.cage_1_3 {
		top: 30%;
		left: 0%;
		min-width: 50%;
	}
	.cage_1_4 {
		top: 30%;
		left: 50%;
		min-width: 50%;
	}
	.cage_1_5 {
		top: 50%;
		left: 0%;
		min-width: 50%;
	}
	.cage_1_6 {
		top: 50%;
		left: 50%;
		min-width: 50%;
	}
	.cage_1_7 {
		top: 70%;
		left: 0%;
		min-width: 50%;
	}
	.cage_1_8 {
		top: 70%;
		left: 50%;
		min-width: 50%;
	}
	.cage_1_9 {
		top: 90%;
		left: 0%;
		min-width: 50%;
	}
	.cage_1_10 {
		top: 90%;
		left: 50%;
		min-width: 50%;
	}
	.cage_1_11 {
		top: 110%;
		left: 0%;
		min-width: 50%;
	}
	.cage_1_12 {
		top: 110%;
		left: 50%;
		min-width: 50%;
	}
	.cage_2_1 {
		top: 130%;
		left: 0%;
		min-width: 50%;
	}
	.cage_2_2 {
		top: 130%;
		left: 50%;
		min-width: 50%;
	}
	.cage_2_3 {
		top: 150%;
		left: 0%;
		min-width: 50%;
	}
	.cage_2_4 {
		top: 150%;
		left: 50%;
		min-width: 50%;
	}
	.cage_2_5 {
		top: 170%;
		left: 0%;
		min-width: 50%;
	}
	.cage_2_6 {
		top: 170%;
		left: 50%;
		min-width: 50%;
	}
	.cage_2_7 {
		top: 190%;
		left: 0%;
		min-width: 50%;
	}
	.cage_2_8 {
		top: 190%;
		left: 50%;
		min-width: 50%;
	}
	.cage_2_9 {
		top: 210%;
		left: 0%;
		min-width: 50%;
	}
	.cage_2_10 {
		top: 210%;
		left: 50%;
		min-width: 50%;
	}
	.cage_2_11 {
		top: 230%;
		left: 0%;
		min-width: 50%;
	}
	.cage_2_12 {
		top: 230%;
		left: 50%;
		min-width: 50%;
	}
	.cage_3_1 {
		top: 250%;
		left: 0%;
		min-width: 50%;
	}
	.cage_3_2 {
		top: 250%;
		left: 50%;
		min-width: 50%;
	}
	.cage_3_3 {
		top: 270%;
		left: 0%;
		min-width: 50%;
	}
	.cage_3_4 {
		top: 270%;
		left: 50%;
		min-width: 50%;
	}
	.cage_3_5 {
		top: 290%;
		left: 0%;
		min-width: 50%;
	}
	.cage_3_6 {
		top: 290%;
		left: 50%;
		min-width: 50%;
	}
	.cage_3_7 {
		top: 310%;
		left: 0%;
		min-width: 50%;
	}
	.cage_3_8 {
		top: 310%;
		left: 50%;
		min-width: 50%;
	}
	.cage_3_9 {
		top: 330%;
		left: 0%;
		min-width: 50%;
	}
	.cage_3_10 {
		top: 330%;
		left: 50%;
		min-width: 50%;
	}
	.cage_3_11 {
		top: 350%;
		left: 0%;
		min-width: 50%;
	}
	.cage_3_12 {
		top: 350%;
		left: 50%;
		min-width: 50%;
	}
	.cage_4_1 {
		top: 370%;
		left: 0%;
		min-width: 50%;
	}
	.cage_4_2 {
		top: 370%;
		left: 50%;
		min-width: 50%;
	}
	.cage_4_3 {
		top: 390%;
		left: 0%;
		min-width: 50%;
	}
	.cage_4_4 {
		top: 390%;
		left: 50%;
		min-width: 50%;
	}
	.cage_4_5 {
		top: 410%;
		left: 0%;
		min-width: 50%;
	}
	.cage_4_6 {
		top: 410%;
		left: 50%;
		min-width: 50%;
	}
	.cage_4_7 {
		top: 430%;
		left: 0%;
		min-width: 50%;
	}
	.cage_4_8 {
		top: 430%;
		left: 50%;
		min-width: 50%;
	}
	.cage_4_9 {
		top: 450%;
		left: 0%;
		min-width: 50%;
	}
	.cage_4_10 {
		top: 450%;
		left: 50%;
		min-width: 50%;
	}
	.cage_4_11 {
		top: 470%;
		left: 0%;
		min-width: 50%;
	}
	.cage_4_12 {
		top: 470%;
		left: 50%;
		min-width: 50%;
	}
	.cage_2_1 {
		top: 490%;
		left: 0%;
		min-width: 50%;
	}
	.cage_2_2 {
		top: 490%;
		left: 50%;
		min-width: 50%;
	}
	.cage_2_3 {
		top: 510%;
		left: 0%;
		min-width: 50%;
	}
	.cage_2_4 {
		top: 510%;
		left: 50%;
		min-width: 50%;
	}
	.cage_2_5 {
		top: 530%;
		left: 0%;
		min-width: 50%;
	}
	.cage_2_6 {
		top: 530%;
		left: 50%;
		min-width: 50%;
	}
	.cage_2_7 {
		top: 550%;
		left: 0%;
		min-width: 50%;
	}
	.cage_2_8 {
		top: 550%;
		left: 50%;
		min-width: 50%;
	}
	.cage_2_9 {
		top: 570%;
		left: 0%;
		min-width: 50%;
	}
	.cage_2_10 {
		top: 570%;
		left: 50%;
		min-width: 50%;
	}
	.cage_2_11 {
		top: 590%;
		left: 0%;
		min-width: 50%;
	}
	.cage_2_12 {
		top: 590%;
		left: 50%;
		min-width: 50%;
	}
}
@media screen and (max-width: 361px) {
	.cage_1_1 {
		left: 0%;
		width: 100%;
	}
	.cage_1_2 {
		top: 30%;
		left: 0%;
		width: 100%;
	}
	.cage_1_3 {
		top: 50%;
		left: 0%;
		width: 100%;
	}
	.cage_1_4 {
		top: 70%;
		left: 0%;
		width: 100%;
	}
	.cage_1_5 {
		top: 90%;
		left: 0%;
		width: 100%;
	}
	.cage_1_6 {
		top: 110%;
		left: 0%;
		width: 100%;
	}
	.cage_1_7 {
		top: 130%;
		left: 0%;
		width: 100%;
	}
	.cage_1_8 {
		top: 150%;
		left: 0%;
		width: 100%;
	}
	.cage_1_9 {
		top: 170%;
		left: 0%;
		width: 100%;
	}
	.cage_1_10 {
		top: 190%;
		left: 0%;
		width: 100%;
	}
	.cage_1_11 {
		top: 210%;
		left: 0%;
		width: 100%;
	}
	.cage_1_12 {
		top: 230%;
		left: 0%;
		width: 100%;
	}
	.cage_2_1 {
		top: 250%;
		left: 0%;
		width: 100%;
	}
	.cage_2_2 {
		top: 270%;
		left: 0%;
		width: 100%;
	}
	.cage_2_3 {
		top: 290%;
		left: 0%;
		width: 100%;
	}
	.cage_2_4 {
		top: 310%;
		left: 0%;
		width: 100%;
	}
	.cage_2_5 {
		top: 330%;
		left: 0%;
		width: 100%;
	}
	.cage_2_6 {
		top: 350%;
		left: 0%;
		width: 100%;
	}
	.cage_2_7 {
		top: 370%;
		left: 0%;
		width: 100%;
	}
	.cage_2_8 {
		top: 390%;
		left: 0%;
		width: 100%;
	}
	.cage_2_9 {
		top: 410%;
		left: 0%;
		width: 100%;
	}
	.cage_2_10 {
		top: 430%;
		left: 0%;
		width: 100%;
	}
	.cage_2_11 {
		top: 450%;
		left: 0%;
		width: 100%;
	}
	.cage_2_12 {
		top: 470%;
		left: 0%;
		width: 100%;
	}
	.cage_3_1 {
		top: 490%;
		left: 0%;
		width: 100%;
	}
	.cage_3_2 {
		top: 510%;
		left: 0%;
		width: 100%;
	}
	.cage_3_3 {
		top: 530%;
		left: 0%;
		width: 100%;
	}
	.cage_3_4 {
		top: 550%;
		left: 0%;
		width: 100%;
	}
	.cage_3_5 {
		top: 570%;
		left: 0%;
		width: 100%;
	}
	.cage_3_6 {
		top: 590%;
		left: 0%;
		width: 100%;
	}
	.cage_3_7 {
		top: 610%;
		left: 0%;
		width: 100%;
	}
	.cage_3_8 {
		top: 630%;
		left: 0%;
		width: 100%;
	}
	.cage_3_9 {
		top: 650%;
		left: 0%;
		width: 100%;
	}
	.cage_3_10 {
		top: 670%;
		left: 0%;
		width: 100%;
	}
	.cage_3_11 {
		top: 690%;
		left: 0%;
		width: 100%;
	}
	.cage_3_12 {
		top: 710%;
		left: 0%;
		width: 100%;
	}
	.cage_4_1 {
		top: 730%;
		left: 0%;
		width: 100%;
	}
	.cage_4_2 {
		top: 750%;
		left: 0%;
		width: 100%;
	}
	.cage_4_3 {
		top: 770%;
		left: 0%;
		width: 100%;
	}
	.cage_4_4 {
		top: 790%;
		left: 0%;
		width: 100%;
	}
	.cage_4_5 {
		top: 810%;
		left: 0%;
		width: 100%;
	}
	.cage_4_6 {
		top: 830%;
		left: 0%;
		width: 100%;
	}
	.cage_4_7 {
		top: 850%;
		left: 0%;
		width: 100%;
	}
	.cage_4_8 {
		top: 870%;
		left: 0%;
		width: 100%;
	}
	.cage_4_9 {
		top: 890%;
		left: 0%;
		width: 100%;
	}
	.cage_4_10 {
		top: 910%;
		left: 0%;
		width: 100%;
	}
	.cage_4_11 {
		top: 930%;
		left: 0%;
		width: 100%;
	}
	.cage_4_12 {
		top: 950%;
		left: 0%;
		width: 100%;
	}
	.cage_5_1 {
		top: 970%;
		left: 0%;
		width: 100%;
	}
	.cage_5_2 {
		top: 990%;
		left: 0%;
		width: 100%;
	}
	.cage_5_3 {
		top: 1010%;
		left: 0%;
		width: 100%;
	}
	.cage_5_4 {
		top: 1030%;
		left: 0%;
		width: 100%;
	}
	.cage_5_5 {
		top: 1050%;
		left: 0%;
		width: 100%;
	}
	.cage_5_6 {
		top: 1070%;
		left: 0%;
		width: 100%;
	}
	.cage_5_7 {
		top: 1090%;
		left: 0%;
		width: 100%;
	}
	.cage_5_8 {
		top: 1110%;
		left: 0%;
		width: 100%;
	}
	.cage_5_9 {
		top: 1130%;
		left: 0%;
		width: 100%;
	}
	.cage_5_10 {
		top: 1150%;
		left: 0%;
		width: 100%;
	}
	.cage_5_11 {
		top: 1170%;
		left: 0%;
		width: 100%;
	}
	.cage_5_12 {
		top: 1190%;
		left: 0%;
		width: 100%;
	}
}
