* {
  margin: 0 auto;
  padding: 0;
}

*:focus {
  outline: none;
}

/*body {
  margin-top: 170px;
  background-color: #f4f4f4;
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

/*h1,
p,
a,
span {
  color: #fff;
  letter-spacing: 0.02em;
  font-weight: 600;
}

h1,
p,
a {
  padding-left: 40px;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.5em;
  line-height: 25px;
}

button {
  border: 0;
  border-radius: 26px;
  padding-bottom: 2px;
}

span {
  font-size: 1.6em;
}*/

/*.tab_container
 {
  position: absolute;
  top: 35vh;
  width: 20vw;
  height: 250px;
  margin: 5px;
  background: white;
  opacity: 1;
  border: 1px solid transparent;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}*/
.tab_container_1,
.tab_container_2,
.tab_container_3
 {
  position: absolute;
  top: 35vh;
  /*left: 20vw;*/
  width: 18vw;
  /*height: 20vw;*/
  height: 250px;
  margin: 5px;
  background: white;
  opacity: 1;
  border: 0px solid transparent;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.0);
  left: 20%;
  overflow: hidden;
}


.tab_container_2 {
  left: 42%;
}
.tab_container_3 {
  left: 63%;
}

.front,
.back {
  z-index: 1;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/*.tab_container {
  -moz-transform: perspective(1200px);
  -webkit-perspective: 1200px;
  perspective: 1200px;
}*/

.flip_box_1,
.flip_box_2,
.flip_box_3 {
  transition: all 0.5s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front {
/*  border: 0px solid transparent;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);*/
  width: 17.8vw;
  height: 248px;
  background: url(/images/stop_front.svg);
  /*background-image: url(images/doc_logo.png);*/
}
.front:hover {
  border: 0px solid transparent;
  transition: 0s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8) inset;
}

.f_title {
  padding: 10px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.f_subline {
  padding: 5px;
  color: rgba(255, 255, 255, 1);
}

.f_headline {
  margin-top: 135px;
  padding: 10px;
  color: rgba(255, 255, 255, 1);
}

.back_1,
.back_2,
.back_3
 {
  width: 17.8vw;
  height: 248px;
  background: url(/tab_back_cloud.svg) 100%;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border: 2px solid transparent;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8) inset;
}

.back_2 {
  background: url(/tab_back_volm.svg) 100%;
}

.back_3 {

  background: url(/tab_back_def.svg) 100%;
}

.b_headline {
  padding: 10px;
}

.b_text {
  font-size: 1em;
  line-height: 28px;
  padding: 10px;
  opacity: 0.85;
}

.b_button {
  position: absolute;
  left: 36px;
  bottom: 38px;
  width: 150px;
  height: 52px;
  background-color: #C30C3D;
  transition: all 0.3s;
}

.b_button:hover {
  background-color: #E30143;
}

.flipped {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.r_wrap {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.b_round_1,
.b_round_2,
.b_round_3,
.s_round_1,
.s_round_2,
.s_round_3, {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 52px;
  height: 52px;
  border-radius: 0%;
  /*background-color: #D21849;*/
  transition: all 0.2s linear;
}

.b_round_1,
.b_round_2,
.b_round_3 {
  opacity: 0;
  /*background-color: #D21849;*/
}

.b_round_hover {
  transform: scale(1.37);
  opacity: 0.4;
}

.b_round_back_hover {
  /*background-color: #F60044;*/
}

.s_round_click {
  transform: scale(1.7);
}

.s_round_back {
  /*background-color: #C30C3D;*/
}

.s_arrow_1,
.s_arrow_2,
.s_arrow_3 {
  width: 52px;
  height: 52px;
  background-image: url('https://img-fotki.yandex.ru/get/194549/29644339.5/0_d6c60_1d7815f0_orig');
  background-color: transparent;
  transition: all 0.35s linear;
}

.s_arrow_rotate {
  transform: rotate(-180deg);
}

/*@media screen and (max-width: 1681px) {
  .tab_container:first-child {
    left: 20vw;
  }
  .tab_container:nth-child(2) {
    left: 20vw;
  }
  .tab_container:nth-child(2) {
    left: 20vw;
  }
}*/
@media screen and (max-width: 1025px) {
  .tab_container_1 {
    left: 0vw;
    width: 32vw;
  }
  .tab_container_2 {
    left: 33vw;
    width: 32vw;
  }
  .tab_container_3 {
    left: 66vw;
    width: 32vw;
  }

  .front, .back_1, .back_2, .back_3 {
    width: 32vw;
  }
}
@media screen and (max-width: 761px) {
  .tab_container_1 {
    left: 0;
    width: 49vw;
  }
  .tab_container_2 {
    left: 50vw;
    width: 49vw;
  }
  .tab_container_3 {
    top: 70vh;
    left: 0;
    width: 49vw;
  }
  .front, .back_1, .back_2, .back_3 {
    width: 49vw;
  }
}
@media screen and (max-width: 361px) {
  .tab_container_1 {
    left: 0;
    width: 99vw;
  }
  .tab_container_2 {
    left: 0;
    top: 70vh;
    width: 99vw;
  }
  .tab_container_3 {
    left: 0;
    top: 105vh;
    width: 99vw;
  }
  .front, .back_1, .back_2, .back_3 {
    width: 99vw;
  }
}