a:visited,
a { /* посещённые ссылки */ 
  color: black;
}
.menu_button {
	position: fixed;
	box-sizing: border-box;
	pointer-events: auto;
	top: -125px;
	left: -120px;
	width: 250px;
	height: 180px;
	padding-top: 125px;
	padding-left: 80px;
	z-index: 10;
	opacity: 1;
	background-color: rgba(255,204,0,1);
	color: rgba(0,0,0,1);
	font-size: 30px;
	transform: rotate(-45deg);
	transition: 0.7s;
}
.menu_button:hover {
	background-color: rgba(0,0,0,1);
	color: rgba(255,204,2,1);
}
.resume_button {
	position: fixed;
	box-sizing: border-box;
	pointer-events: none;
	top: -800px;
	left: -1100px;
/*				top: -80px;
	left: -110px;*/
	width: 250px;
	height: 180px;
	padding-top: 150px;
	padding-left: 90px;
	z-index: 9;
	opacity: 1;
	background-color: rgba(255,204,2,1);
	transform: rotate(-45deg);
	transition: 0.7s;
}
.skills_button {
	position: fixed;
	box-sizing: border-box;
	pointer-events: none;
	top: -800px;
	left: -1100px;
/*				top: -25px;
	left: -100px;*/
	width: 300px;
	height: 150px;
	padding-top: 120px;
	padding-left: 50px;
	z-index: 8;
	opacity: 1;
	background-color: rgba(255,191,0,1);
	transform: rotate(-45deg);
	transition: 0.75s;
}
.evolve_button {
	position: fixed;
	box-sizing: border-box;
	pointer-events: none;
	top: -800px;
	left: -1100px;
/*				top: 30px;
	left: -100px;*/
	width: 380px;
	height: 120px;
	padding-top: 90px;
	padding-left: 110px;
	z-index: 7;
	opacity: 1;
	background-color: rgba(255,179,0,1);
	transform: rotate(-45deg);
	transition: 0.8s;
}
.contact_button {
	position: fixed;
	box-sizing: border-box;
	pointer-events: none;
	top: -800px;
	left: -1100px;
/*				top: 85px;
	left: -100px;*/
	width: 460px;
	height: 90px;
	padding-top: 60px;
	padding-left: 160px;
	z-index: 6;
	opacity: 1;
	background-color: rgba(255,165,5,1);
	transform: rotate(-45deg);
	transition: 0.85s;
}

.resume_button:hover,
.skills_button:hover,
.evolve_button:hover,
.contact_button:hover {
	background-color: rgba(0,0,0,1);
	color: rgba(255,204,0,1);
}
#menu_info:checked ~ .menu_button {
	background-color: rgba(0,0,0,1);
	color: rgba(255,204,2,1);
}
#menu_info:checked ~ .menu_button:hover {
	background-color: rgba(255,255,255,1);
	color: rgba(0,0,0,1);
}
#menu_info:checked ~ a .resume_button {
	top: -80px;
	left: -110px;
	pointer-events: auto;
}
#menu_info:checked ~ a .skills_button {
	top: -25px;
	left: -100px;
	pointer-events: auto;
}
#menu_info:checked ~ a .evolve_button {
	top: 30px;
	left: -100px;
	pointer-events: auto;
}
#menu_info:checked ~ a .contact_button {
	top: 85px;
	left: -100px;
	pointer-events: auto;
}