@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*html, body {
  height: 100vh;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}*/

.main {
  position: relative;
  top: 5vh;
  left: 5%;
  right: 5%;
/*  min-width: 320px;
  max-width: 100%;*/
  width: 90%;
  height: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.main section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.main input {
  display: none;
}

.main label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: white;
  border: 1px solid transparent;
}

.main label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: url('D://1c_pd/images/vendors/k_lab_m.png');

}

label[for*='2']:before {
  content: url('D://1c_pd/images/vendors/microsoft_m.png');
}

label[for*='3']:before {
  content: url('D://1c_pd/images/vendors/ngt_m.png');
}

label[for*='4']:before {
  content: url('D://1c_pd/images/vendors/bia_m.png');
}

label[for*='5']:before {
  content: url('D://1c_pd/images/vendors/dl_m.png');
}

label[for*='6']:before {
  content: url('D://1c_pd/images/vendors/as_m.png');
}

label[for*='7']:before {
  content: url('D://1c_pd/images/vendors/ibm_m.png');
}

label[for*='8']:before {
  content: url('D://1c_pd/images/vendors/ug_m.png');
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
